In [1]:
import pandas as pd
import numpy as np

In [6]:
import pandas as pd

# Define the data (as provided)
data = {
    "Carrier": [
        "AIG", "Allianz", "AXA", "Zurich", "Chubb", "Liberty", "Berkshire", "Travelers", "Munich Re", "Swiss Re",
        "Hannover Re", "SCOR", "Partner Re", "Renaissance Re", "Arch Capital", "Axis Capital", "AIG", "Endurance", "Aspen Re", "Validus",
        "Chubb", "Catlin", "Allied World", "Hiscox", "Amlin", "Beazley", "AXA", "Brit", "MS Amlin", "XL Catlin"
    ],
    "Layer": [
        "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M", "Primary $10M",
        "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M", "$10M xs $10M",
        "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M", "$10M xs $20M"
    ],
    "Premium": [
        1243213, 1020361, 1118486, 1218843, 1022174, 1278701, 1110417, 1039896, 1289711, 1277751,
        876440, 928673, 968621, 887314, 820072, 832378, 895831, 803424, 998271, 912313,
        635167, 668959, 698410, 717871, 679425, 664197, 606473, 794058, 664465, 775569
    ],
    "Capacity": [
        2, 4, 3, 5, 8, 7, 8, 2, 10, 2,
        2, 5, 4, 5, 3, 2, 3, 9, 5, 3,
        7, 10, 8, 9, 9, 9, 10, 9, 8, 7
    ],
    "Coverage_Score": [
        0.97, 0.93, 0.80, 0.91, 0.83, 0.82, 0.92, 0.98, 0.95, 0.94,
        0.78, 0.93, 0.75, 1.00, 0.76, 0.90, 0.89, 1.00, 0.97, 0.86,
        0.91, 0.86, 0.87, 0.80, 0.77, 0.87, 0.86, 0.81, 0.77, 0.82
    ],
    "Preferred": [
        0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0
    ],
    "CreditRating": [
        "A", "A", "A", "B", "AA", "B", "A", "A", "A", "A",
        "B", "A", "B", "A", "A", "AA", "A", "AA", "AA", "B",
        "B", "AA", "AA", "B", "B", "B", "A", "B", "AA", "AA"
    ],
    "CreditRatingValue": [
        2, 2, 2, 1, 3, 1, 2, 2, 2, 2,
        1, 2, 1, 2, 2, 3, 2, 3, 3, 1,
        1, 3, 3, 1, 1, 1, 2, 1, 3, 3
    ]
}

In [7]:
df = pd.DataFrame(data)

df

,Carrier,Layer,Premium,Capacity,Coverage_Score,Preferred,CreditRating,CreditRatingValue
0,AIG,Primary $10M,1243213,2,0.97,0,A,2
1,Allianz,Primary $10M,1020361,4,0.93,0,A,2
2,AXA,Primary $10M,1118486,3,0.80,0,A,2
3,Zurich,Primary $10M,1218843,5,0.91,0,B,1
4,Chubb,Primary $10M,1022174,8,0.83,0,AA,3
5,Liberty,Primary $10M,1278701,7,0.82,0,B,1
6,Berkshire,Primary $10M,1110417,8,0.92,1,A,2
7,Travelers,Primary $10M,1039896,2,0.98,1,A,2
8,Munich Re,Primary $10M,1289711,10,0.95,0,A,2
9,Swiss Re,Primary $10M,1277751,2,0.94,0,A,2
10,Hannover Re,$10M xs $10M,876440,2,0.78,0,B,1
11,SCOR,$10M xs $10M,928673,5,0.93,0,A,2
12,Partner Re,$10M xs $10M,968621,4,0.75,0,B,1
13,Renaissance Re,$10M xs $10M,887314,5,1.00,0,A,2
14,Arch Capital,$10M xs $10M,820072,3,0.76,0,A,2
15,Axis Capital,$10M xs $10M,832378,2,0.90,0,AA,3
16,AIG,$10M xs $10M,895831,3,0.89,0,A,2
17,Endurance,$10M xs $10M,803424,9,1.00,1,AA,3
18,Aspen Re,$10M xs $10M,998271,5,0.97,0,AA,3
19,Validus,$10M xs $10M,912313,3,0.86,1,B,1
20,Chubb,$10M xs $20M,635167,7,0.91,0,B,1
21,Catlin,$10M xs $20M,668959,10,0.86,0,AA,3
22,Allied World,$10M xs $20M,698410,8,0.87,0,AA,3
23,Hiscox,$10M xs $20M,717871,9,0.80,0,B,1
24,Amlin,$10M xs $20M,679425,9,0.77,0,B,1
25,Beazley,$10M xs $20M,664197,9,0.87,0,B,1
26,AXA,$10M xs $20M,606473,10,0.86,1,A,2
27,Brit,$10M xs $20M,794058,9,0.81,0,B,1
28,MS Amlin,$10M xs $20M,664465,8,0.77,0,AA,3
29,XL Catlin,$10M xs $20M,775569,7,0.82,0,AA,3